@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: hsl(270, 17%, 94%);
    --bg-secondary: hsl(270, 20%, 97%);
    --text-primary: hsl(227, 31%, 15%);
    --text-secondary: hsl(227, 17%, 30%);
    --border-color: hsl(227, 10%, 90%);
    --accent-color: hsl(270, 84%, 54%);
    --line: color-mix(in hsl, black, transparent 70%);
  }
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  font-family: var(--font-geist-sans), sans-serif;
}

@keyframes cardEntrance {
  0% {
    transform: rotateX(-90deg) translateY(50px);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tagsEntrance {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
